body {
    margin: 0;
    padding: 0;
    background: #0a0000;
    color: #ff0000;
    font-family: 'Courier New', monospace;
    overflow: hidden;
    text-align: center;
}

.overlay {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url('smoke.gif') repeat;
    opacity: 0.15;
    pointer-events:none;
}

.title {
    margin-top: 120px;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 25px #ff0000;
}

.sub {
    font-size: 23px;
    margin-bottom: 40px;
    text-shadow: 0 0 15px #ff0000;
}

.btn-box {
    margin-top: 25px;
}

.btn {
    font-size: 20px;
    padding: 15px 35px;
    margin: 12px;
    border: 2px solid #ff0000;
    background: transparent;
    color: #ff0000;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 0 0 10px #ff0000;
}

.btn:hover {
    background: #ff0000;
    color: #000;
    box-shadow: 0 0 25px #ff0000;
    transform: scale(1.1);
}
